# ============================================
# Python
# ============================================

__pycache__/
*.py[cod]
*.so

# ============================================
# Virtual environments
# ============================================

.venv/
venv/
env/

# ============================================
# Jupyter Notebook
# ============================================

.ipynb_checkpoints/

# ============================================
# Operating system files
# ============================================

.DS_Store
Thumbs.db

# ============================================
# Local configuration
# ============================================

.env
.env.*

# ============================================
# VS Code
# ============================================

.vscode/

# ============================================
# Project 4 - local data
# ============================================

projects/project-04-ai-computer-vision-mlops/data/features/
projects/project-04-ai-computer-vision-mlops/data/splits/

# ============================================
# Project 4 - local models
# ============================================

projects/project-04-ai-computer-vision-mlops/models/

# ============================================
# Project 4 - MLflow local tracking
# ============================================

projects/project-04-ai-computer-vision-mlops/mlflow.db
projects/project-04-ai-computer-vision-mlops/mlruns/

# ============================================
# Project 4 - experimental results
# ============================================

projects/project-04-ai-computer-vision-mlops/results/