
# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db

# Local configuration
.env

# VS Code local settings
.vscode/

# Project 4 - local data and model artifacts
projects/project-04-ai-computer-vision-mlops/data/features/
projects/project-04-ai-computer-vision-mlops/data/splits/
projects/project-04-ai-computer-vision-mlops/models/mlp/